*{
    font-family: 'Open Sans', Arial, sans-serif;
}
/* Clases para el menú */
.header{
    margin: auto;
    margin-top: 20px;
    width: 1000px;
    /* font-family: 'Open Sans', Arial, sans-serif; */
}

ul, ol{
    list-style: none;    
}

.nav li a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 94, 47);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 18px;
    display: block;
}

.nav li a:hover{
    color: rgb(121, 159, 121); 
}

.nav > li {
    float: left;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

/* Clases para la división entre menú y main */

.BackGroundMenu{
    background-color: rgb(32, 29, 29);
    width: auto;
}

.MenuDivision{
    margin-top: 20px;
    background-color: rgb(229, 229, 229);
    width: auto;
    height: 1px;    
}

/* Clases para main de la página */
.info1{
    margin-top: 125px;
}

.columna1-imagen-info1{
    margin-left: 350px;
}

.columna1-titulo1-info1{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;   
    width: auto;
}

.columna1-parrafo-info1{
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
    margin-left: 200px;   
    width: auto;
}

.columna1-titulo2-info1{
    margin-top: 15px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;   
    width: auto;
}

.btn{
    text-decoration: none;
    border-radius: 10px;
    padding: 4px 19px;
    display: inline-block;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.columna1-button-info1{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 112, 65);

    font-size: 25px;
    margin-top: 15px;
    margin-left: 300px;      
}

.columna1-button-info1:hover{
    padding: 12px 30px;
    margin-top: 15px;
    margin-left: 290px;  

    color: rgb(255, 255, 255);
    background-color: rgb(0, 112, 65);
}

.columna2-imagen-info1{
    margin-left: 110px;
}

/* Clases para el pre-footer */
.prefooter{
    margin: auto;
    margin-bottom: 40px;
    padding: 60px;
    width: auto;

    background-color: rgb(3, 71, 50);
}

.images-prefooter{
    text-align: center;
}

.imagen1-prefooter{
    margin-top: 3px;
    margin-left: 100px;
}

.imagen2-prefooter{
    margin-top: 10px;
}

.imagen3-prefooter{
    margin-top: 4px;
}

/* Clases para el footer  */
.footer{
    margin: auto;
    margin-bottom: 5px;
    width:auto;
    background-color: rgb(255, 255, 255);

    text-align: center;
}

.textofooter1{    
    color: rgb(0, 94, 47);
    font-weight: bold;
    font-size: 15px;
}

.textofooter2{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 11px;

    margin-top: 15px;
}

a{
    color: black;
    text-decoration:none;
}

/* Clases para titulo de calendarios */
.titulo-calendario{
    margin-top: 60px;

    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 28px;
    font-weight: bold;
}

/* Clases para imagenes de calendarios */
.calendario-diario{
    margin-top: 100px;
    margin-left: 100px;
}

.calendario-finde{
    margin-top: 104px;
    margin-left: 29px;
}

.calendario-medicina{
    margin-top: 100px;
    margin-left: 100px;
}

.calendario-odontologia{
    margin-top: 100px;
    margin-left: 29px;
}

.calendario-maestria{
    margin-top: 100px;
    text-align: center;
}

.div-footer{
    margin-top: 80px;
}

/* Clases para apartado de noticias */
.titulo-noticias{
    margin-top: 60px;

    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 28px;
    font-weight: bold;
}

.noticia1{
    margin-top: 65px;
    margin-left: 220px;
    text-align: right;
}

.noticia2{
    margin-top: 65px;
    text-align: center;
}

.noticia3{
    margin-top: 65px;
    margin-left: -70px;
    text-align: left;
}

.noticia4{
    margin-top: 50px;
    margin-left: 220px;
    text-align: right;
}

.noticia5{
    margin-top: 30px;
    text-align: center;
}

.noticia6{
    margin-top: 30px;
    margin-left: -70px;
    text-align: left;
}

.noticia7{
    margin-top: 50px;
    margin-left: 220px;
    text-align: right;
}

.noticia8{
    margin-top: 37px;
    text-align: center;
}

.noticia9{
    margin-top: -75px;
    margin-left: -70px;
    text-align: left;
}

.entradasViejas{
    margin-top: 32px;
    font-size: 14px;
    margin-left: 230px;
    text-decoration: none;
}

.spacefooternews{
    margin-top: 70px;
}